Package: com.galacticdev.14pip
Name: 14PiP
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Galactic Dev
Author: Galactic Dev
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
Version: 0.0.1-25+debug
Installed-Size: 48
